HRExitSurveyDataverse/Solution/Workflows/DuplicateRecordwithoutInfo-7F1FB1E0-91FF-EB11-94F0-0022483C1602.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hres_sharedcommondataserviceforapps_1aae9"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"targetGUID","type":"string","x-ms-dynamically-added":true,"description":"GUID for row to be duplicated","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"targetID","type":"string","value":"@triggerBody()['text']"}]}},"Try":{"actions":{"Get_a_row_by_ID":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"hres_hrexitresponsesfulls","recordId":"@variables('targetID')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Respond_success":{"runAfter":{"Add_a_new_row":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"return":"\"Success\""},"schema":{"type":"object","properties":{"return":{"title":"return","x-ms-dynamically-added":true,"type":"string"}}}}},"Add_a_new_row":{"runAfter":{"Get_a_row_by_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"hres_hrexitresponseslites","item/hres_identifier":"@outputs('Get_a_row_by_ID')?['body/hres_identifier']","item/hres_name":"@outputs('Get_a_row_by_ID')?['body/hres_name']","item/hres_atlanticgroup":"@outputs('Get_a_row_by_ID')?['body/hres_atlanticgroup']","item/hres_considerreturning":"@outputs('Get_a_row_by_ID')?['body/hres_considerreturning']","item/hres_considerreturningexplanation":"@outputs('Get_a_row_by_ID')?['body/hres_coniderreturningexplanation']","item/hres_considerreturningother":"@outputs('Get_a_row_by_ID')?['body/hres_considerreturningother']","item/hres_departurereasons":"@outputs('Get_a_row_by_ID')?['body/hres_departurereasons']","item/hres_employmentstatusatdeparture":"@outputs('Get_a_row_by_ID')?['body/hres_employmentstatusatdeparture']","item/hres_groupregion":"@outputs('Get_a_row_by_ID')?['body/hres_groupregion']","item/hres_hasdisability":"@outputs('Get_a_row_by_ID')?['body/hres_hasdisability']","item/hres_hasdisabilityfurtherdetails":"@outputs('Get_a_row_by_ID')?['body/hres_hasdisabilityfurtherdetails']","item/hres_hrexitresponsesliteid":"@outputs('Get_a_row_by_ID')?['body/hres_hrexitresponsesfullid']","item/hres_isindigenous":"@outputs('Get_a_row_by_ID')?['body/hres_isindigenous']","item/hres_isindigenousfurtherdetails":"@outputs('Get_a_row_by_ID')?['body/hres_isindigenousfurtherdetails']","item/hres_isvisibleminority":"@outputs('Get_a_row_by_ID')?['body/hres_isvisibleminority']","item/hres_isvisibleminorityfurtherdetails":"@outputs('Get_a_row_by_ID')?['body/hres_isvisibleminorityfurtherdetails']","item/hres_iswoman":"@outputs('Get_a_row_by_ID')?['body/hres_iswoman']","item/hres_lengthattc":"@outputs('Get_a_row_by_ID')?['body/hres_lengthattc']","item/hres_myexperienceq1":"@outputs('Get_a_row_by_ID')?['body/hres_myexperienceq1']","item/hres_myexperienceq2":"@outputs('Get_a_row_by_ID')?['body/hres_myexperienceq2']","item/hres_myexperienceq3":"@outputs('Get_a_row_by_ID')?['body/hres_myexperienceq3']","item/hres_myexperienceq4":"@outputs('Get_a_row_by_ID')?['body/hres_myexperienceq4']","item/hres_myexperienceq5":"@outputs('Get_a_row_by_ID')?['body/hres_myexperienceq5']","item/hres_myexperienceq6":"@outputs('Get_a_row_by_ID')?['body/hres_myexperienceq6']","item/hres_ncrcorporateservices":"@outputs('Get_a_row_by_ID')?['body/hres_ncrcorporateservices']","item/hres_ncrgroup":"@outputs('Get_a_row_by_ID')?['body/hres_ncrgroup']","item/hres_ncrsatefysecurity":"@outputs('Get_a_row_by_ID')?['body/hres_ncrsatefysecurity']","item/hres_occupationalgroup":"@outputs('Get_a_row_by_ID')?['body/hres_occupationalgroup']","item/hres_ontariogroup":"@outputs('Get_a_row_by_ID')?['body/hres_ontariogroup']","item/hres_pacificgroup":"@outputs('Get_a_row_by_ID')?['body/hres_pacificgroup']","item/hres_prairienortherngroup":"@outputs('Get_a_row_by_ID')?['body/hres_prairienortherngroup']","item/hres_quebecgroup":"@outputs('Get_a_row_by_ID')?['body/hres_quebecgroup']","item/overriddencreatedon":"@outputs('Get_a_row_by_ID')?['body/overriddencreatedon']","item/statuscode":1,"item/timezoneruleversionnumber":"@outputs('Get_a_row_by_ID')?['body/timezoneruleversionnumber']","item/utcconversiontimezonecode":"@outputs('Get_a_row_by_ID')?['body/utcconversiontimezonecode']","item/hres_wellbeingother":"@outputs('Get_a_row_by_ID')?['body/hres_wellbeingother']","item/hres_wellbeingq1":"@outputs('Get_a_row_by_ID')?['body/hres_wellbeingq1']","item/hres_wellbeingq2":"@outputs('Get_a_row_by_ID')?['body/hres_wellbeingq2']","item/hres_wellbeingq3":"@outputs('Get_a_row_by_ID')?['body/hres_wellbeingq3']","item/hres_wellbeingq4":"@outputs('Get_a_row_by_ID')?['body/hres_wellbeingq4']","item/hres_wellbeingq5":"@outputs('Get_a_row_by_ID')?['body/hres_wellbeingq5']","item/hres_wellbeingq6":"@outputs('Get_a_row_by_ID')?['body/hres_wellbeingq6']","item/hres_wellbeingq7":"@outputs('Get_a_row_by_ID')?['body/hres_wellbeingq7']","item/hres_wellbeingq8":"@outputs('Get_a_row_by_ID')?['body/hres_wellbeingq8']","item/hres_wellbeingq9":"@outputs('Get_a_row_by_ID')?['body/hres_wellbeingq9']","item/hres_workother":"@outputs('Get_a_row_by_ID')?['body/hres_workother']","item/hres_workq1":"@outputs('Get_a_row_by_ID')?['body/hres_workq1']","item/hres_workq2":"@outputs('Get_a_row_by_ID')?['body/hres_workq2']","item/hres_workq3":"@outputs('Get_a_row_by_ID')?['body/hres_workq3']","item/hres_workq4":"@outputs('Get_a_row_by_ID')?['body/hres_workq4']","item/hres_workq5":"@outputs('Get_a_row_by_ID')?['body/hres_workq5']","item/hres_workq6":"@outputs('Get_a_row_by_ID')?['body/hres_workq6']","item/hres_workq7":"@outputs('Get_a_row_by_ID')?['body/hres_workq7']","item/hres_workq8":"@outputs('Get_a_row_by_ID')?['body/hres_workq8']","item/hres_workq9":"@outputs('Get_a_row_by_ID')?['body/hres_workq9']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Scope"},"Catch":{"actions":{"Respond_failure":{"runAfter":{},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"return":"\"Failure\""},"schema":{"type":"object","properties":{"return":{"title":"return","x-ms-dynamically-added":true,"type":"string"}}}}}},"runAfter":{"Try":["Failed","Skipped","TimedOut"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}