HRExitSurveyDataverse/Solution/Workflows/RequestInfoFlow-B27D62C4-7320-EC11-B6E6-0022483C580F.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hres_sharedcommondataserviceforapps_1aae9"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"hres_identifier","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"List_rows":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"hres_hrexitresponsesfulls","$filter":"hres_identifier eq '@{triggerBody()['text']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Compose":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"fullname":"@{outputs('Compose')}"},"schema":{"type":"object","properties":{"fullname":{"title":"fullName","x-ms-dynamically-added":true,"type":"string"}}}}},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"results","type":"array"}]}},"Apply_to_each":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"results","value":"@items('Apply_to_each')?['_createdby_value']"}}},"runAfter":{"List_rows":["Succeeded"]},"type":"Foreach"},"Compose":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Compose","inputs":"@variables('results')"}}}},"schemaVersion":"1.0.0.0"}