HRExitSurveyDataverse/Solution/Workflows/Runduplicationflow-442A6389-92FF-EB11-94F0-0022483C139A.json
{"properties":{"connectionReferences":{"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hres_sharedoffice365_1e6b9"},"api":{"name":"shared_office365"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hres_sharedcommondataserviceforapps_1aae9"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"hres_hrexitresponsesfull","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Run_a_Child_Flow":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"7f1fb1e0-91ff-eb11-94f0-0022483c1602"},"body":{"text":"@variables('id')"}}},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"id","type":"string","value":"@triggerOutputs()?['body/hres_hrexitresponsesfullid']"}]}},"Send_an_email_(V2)":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"stefan.lukic@tc.gc.ca","emailMessage/Subject":"HR Exit Survey: New Response","emailMessage/Body":"<p>A new HR Exit Interview has been submitted.<br>\n--------------------------------------------------------<br>\nUn nouvel entretien de départ RH a été soumis.</p>"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}