HRExitSurveyDataverse/Solution/Workflows/RunRequestInfoFlow-BE8AE98E-7420-EC11-B6E6-0022483C5A11.json
{"properties":{"connectionReferences":{},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"hres_identifier","type":"string","x-ms-dynamically-added":true,"description":"Identifier from Lite Table","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Run_a_Child_Flow":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b27d62c4-7320-ec11-b6e6-0022483c580f"},"body":{"text":"@variables('hres_identifier')"}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"user":"@{outputs('Run_a_Child_Flow')?['Body']}"},"schema":{"type":"object","properties":{"user":{"title":"user","x-ms-dynamically-added":true,"type":"string"}}}}},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"hres_identifier","type":"string","value":"@triggerBody()['text']"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}