HRExitSurvey/Solution/Workflows/CreateRecordfromCollection-489AE963-8BDD-EB11-BACB-000D3AE85C05.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"hres_sharedsharepointonline_c36fa"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Initializevariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["Initializevariable_Value"]}}}},"actions":{"Parse_JSON":{"runAfter":{"Init_JSON_Var":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@variables('col_json')","schema":{"type":"array","items":{"type":"object","properties":{"ConiderReturningExplanation":{"type":"string"},"ConsiderReturning":{"type":"string"},"ConsiderReturningOther":{"type":["string","null"]},"EmploymentStatusAtDeparture":{"type":"string"},"Group_x002f_Region":{"type":"string"},"HasDisability":{"type":"string"},"HasDisabilityFurtherDetails":{"type":["string","null"]},"IsIndienous":{"type":"string"},"IsIndigenousFurtherDetails":{"type":["string","null"]},"IsVisibleMinority":{"type":"string"},"IsVisibleMinorityFurtherDetails":{"type":["string","null"]},"IsWoman":{"type":"string"},"LengthAtTC":{"type":"string"},"MyExperienceQ1":{"type":"string"},"MyExperienceQ2":{"type":"string"},"MyExperienceQ3_x0020_Most_x0020_":{"type":"string"},"MyExperienceQ4":{"type":"string"},"MyExperienceQ5":{"type":"string"},"MyExperienceQ6":{"type":"string"},"NCR_x0020_Group":{"type":["string","null"]},"Occupational_x0020_Group":{"type":"string"},"Title":{"type":"string"},"departureReasons":{"type":"array","items":{"type":"object","properties":{"Value":{"type":"string"}},"required":["Value"]}},"wellBeingOther":{"type":["string","null"]},"wellBeingQ1":{"type":"string"},"wellBeingQ2":{"type":"string"},"wellBeingQ3":{"type":"string"},"wellBeingQ4":{"type":"string"},"wellBeingQ5":{"type":"string"},"wellBeingQ6":{"type":"string"},"wellBeingQ7":{"type":"string"},"wellBeingQ8":{"type":"string"},"wellBeingQ9":{"type":"string"},"workOther":{"type":["string","null"]},"workQ1":{"type":"string"},"workQ2":{"type":"string"},"workQ4":{"type":"string"},"workQ5":{"type":"string"},"workQ6":{"type":"string"},"workQ7":{"type":"string"},"workQ8":{"type":"string"},"workQ9":{"type":"string"},"wrokQ3":{"type":"string"}},"required":["ConiderReturningExplanation","ConsiderReturning","EmploymentStatusAtDeparture","Group_x002f_Region","HasDisability","IsIndienous","IsVisibleMinority","IsWoman","LengthAtTC","MyExperienceQ1","MyExperienceQ2","MyExperienceQ3_x0020_Most_x0020_","MyExperienceQ4","MyExperienceQ5","MyExperienceQ6","Occupational_x0020_Group","Title","departureReasons","wellBeingQ1","wellBeingQ2","wellBeingQ3","wellBeingQ4","wellBeingQ5","wellBeingQ6","wellBeingQ7","wellBeingQ8","wellBeingQ9","workQ1","workQ2","workQ4","workQ5","workQ6","workQ7","workQ8","workQ9","wrokQ3"]}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')","actions":{"ReLock_Created_by_Field":{"runAfter":{"Update_Created_by_Field":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","parameters/method":"PATCH","parameters/uri":"_api/web/lists/getbytitle('@{variables('listName')}')/fields('@{variables('createdByGUID')}')\n","parameters/headers":{"content-type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-METHOD":"PATCH"},"parameters/body":"{ '__metadata': { 'type': 'SP.Field' }, 'ReadOnlyField': true }"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Unlock_Created_by_Field":{"runAfter":{"Create_item_in_List_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","parameters/method":"PATCH","parameters/uri":"_api/web/lists/getbytitle('@{variables('listName')}')/fields(guid'@{variables('createdByGUID')}')\n","parameters/headers":{"content-type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-METHOD":"PATCH"},"parameters/body":"{ '__metadata': { 'type': 'SP.Field' }, 'ReadOnlyField': false }"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_Created_by_Field":{"runAfter":{"Unlock_Created_by_Field":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","parameters/method":"PATCH","parameters/uri":"_api/web/lists/getbytitle('@{variables('listName')}')/items('@{outputs('Create_item_in_List')?['body/ID']}')","parameters/headers":{"content-type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-METHOD":"MERGE"},"parameters/body":"{ '__metadata': { 'type': 'SP.Data.@{variables('spDataListName')}ListItem' }, 'AuthorId': 0 }"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_item_in_List":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"2ead9830-4196-4288-8b06-d64781569e9b","item/Title":"@items('Apply_to_each')['Title']","item/departureReasons":"@items('Apply_to_each')['departureReasons']","item/workQ1":"@items('Apply_to_each')['workQ1']","item/workQ2":"@items('Apply_to_each')['workQ2']","item/wrokQ3":"@items('Apply_to_each')['wrokQ3']","item/workQ4":"@items('Apply_to_each')['workQ4']","item/workQ5":"@items('Apply_to_each')['workQ5']","item/workQ6":"@items('Apply_to_each')['workQ6']","item/workQ7":"@items('Apply_to_each')['workQ7']","item/workQ8":"@items('Apply_to_each')['workQ8']","item/workQ9":"@items('Apply_to_each')['workQ9']","item/workOther":"@items('Apply_to_each')?['workOther']","item/wellBeingQ1":"@items('Apply_to_each')['wellBeingQ1']","item/wellBeingQ2":"@items('Apply_to_each')['wellBeingQ2']","item/wellBeingQ3":"@items('Apply_to_each')['wellBeingQ3']","item/wellBeingQ4":"@items('Apply_to_each')['wellBeingQ4']","item/wellBeingQ5":"@items('Apply_to_each')['wellBeingQ5']","item/wellBeingQ6":"@items('Apply_to_each')['wellBeingQ6']","item/wellBeingQ7":"@items('Apply_to_each')['wellBeingQ7']","item/wellBeingQ8":"@items('Apply_to_each')['wellBeingQ8']","item/wellBeingQ9":"@items('Apply_to_each')['wellBeingQ9']","item/wellBeingOther":"@items('Apply_to_each')?['wellBeingOther']","item/MyExperienceQ1":"@items('Apply_to_each')['MyExperienceQ1']","item/MyExperienceQ2":"@items('Apply_to_each')['MyExperienceQ2']","item/MyExperienceQ3_x0020_Most_x0020_":"@items('Apply_to_each')['MyExperienceQ3_x0020_Most_x0020_']","item/MyExperienceQ4":"@items('Apply_to_each')['MyExperienceQ4']","item/MyExperienceQ5":"@items('Apply_to_each')['MyExperienceQ5']","item/MyExperienceQ6":"@items('Apply_to_each')['MyExperienceQ6']","item/ConsiderReturning":"@items('Apply_to_each')['ConsiderReturning']","item/ConiderReturningExplanation":"@items('Apply_to_each')['ConiderReturningExplanation']","item/ConsiderReturningOther":"@items('Apply_to_each')?['ConsiderReturningOther']","item/Group_x002f_Region":"@items('Apply_to_each')['Group_x002f_Region']","item/NCR_x0020_Group":"@items('Apply_to_each')?['NCR_x0020_Group']","item/LengthAtTC":"@items('Apply_to_each')['LengthAtTC']","item/EmploymentStatusAtDeparture":"@items('Apply_to_each')['EmploymentStatusAtDeparture']","item/Occupational_x0020_Group":"@items('Apply_to_each')['Occupational_x0020_Group']","item/IsWoman":"@items('Apply_to_each')['IsWoman']","item/IsIndienous":"@items('Apply_to_each')['IsIndienous']","item/IsIndigenousFurtherDetails":"@items('Apply_to_each')?['IsIndigenousFurtherDetails']","item/IsVisibleMinority":"@items('Apply_to_each')['IsVisibleMinority']","item/IsVisibleMinorityFurtherDetails":"@items('Apply_to_each')?['IsVisibleMinorityFurtherDetails']","item/HasDisability":"@items('Apply_to_each')['HasDisability']","item/HasDisabilityFurtherDetails":"@items('Apply_to_each')?['HasDisabilityFurtherDetails']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Unlock_Modified_by_Field":{"runAfter":{"ReLock_Created_by_Field":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","parameters/method":"PATCH","parameters/uri":"_api/web/lists/getbytitle('@{variables('listName')}')/fields(guid'@{variables('modifiedByGUID')}')\n","parameters/headers":{"content-type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-METHOD":"PATCH"},"parameters/body":"{ '__metadata': { 'type': 'SP.Field' }, 'ReadOnlyField': false }"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_Modified_by_Field":{"runAfter":{"Unlock_Modified_by_Field":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","parameters/method":"PATCH","parameters/uri":"_api/web/lists/getbytitle('@{variables('listName')}')/items('@{outputs('Create_item_in_List')?['body/ID']}')","parameters/headers":{"content-type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-METHOD":"MERGE"},"parameters/body":"{ '__metadata': { 'type': 'SP.Data.@{variables('spDataListName')}ListItem' }, 'EditorId': 0 }"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"ReLock_Modified_by_Field":{"runAfter":{"Update_Modified_by_Field":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","parameters/method":"PATCH","parameters/uri":"_api/web/lists/getbytitle('@{variables('listName')}')/fields('@{variables('modifiedByGUID')}')\n","parameters/headers":{"content-type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-METHOD":"PATCH"},"parameters/body":"{ '__metadata': { 'type': 'SP.Field' }, 'ReadOnlyField': true }"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_item_in_List_2":{"runAfter":{"Create_item_in_List":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"bcb64c40-15d4-4b54-a349-ea636f1a4c97","item/Title":"@items('Apply_to_each')['Title']","item/departureReasons":"@items('Apply_to_each')['departureReasons']","item/workQ1":"@items('Apply_to_each')['workQ1']","item/workQ2":"@items('Apply_to_each')['workQ2']","item/wrokQ3":"@items('Apply_to_each')['wrokQ3']","item/workQ4":"@items('Apply_to_each')['workQ4']","item/workQ5":"@items('Apply_to_each')['workQ5']","item/workQ6":"@items('Apply_to_each')['workQ6']","item/workQ7":"@items('Apply_to_each')['workQ7']","item/workQ8":"@items('Apply_to_each')['workQ8']","item/workQ9":"@items('Apply_to_each')['workQ9']","item/workOther":"@items('Apply_to_each')?['workOther']","item/wellBeingQ1":"@items('Apply_to_each')['wellBeingQ1']","item/wellBeingQ2":"@items('Apply_to_each')['wellBeingQ2']","item/wellBeingQ3":"@items('Apply_to_each')['wellBeingQ3']","item/wellBeingQ4":"@items('Apply_to_each')['wellBeingQ4']","item/wellBeingQ5":"@items('Apply_to_each')['wellBeingQ5']","item/wellBeingQ6":"@items('Apply_to_each')['wellBeingQ6']","item/wellBeingQ7":"@items('Apply_to_each')['wellBeingQ7']","item/wellBeingQ8":"@items('Apply_to_each')['wellBeingQ8']","item/wellBeingQ9":"@items('Apply_to_each')['wellBeingQ9']","item/wellBeingOther":"@items('Apply_to_each')?['wellBeingOther']","item/MyExperienceQ1":"@items('Apply_to_each')['MyExperienceQ1']","item/MyExperienceQ2":"@items('Apply_to_each')['MyExperienceQ2']","item/MyExperienceQ3_x0020_Most_x0020_":"@items('Apply_to_each')['MyExperienceQ3_x0020_Most_x0020_']","item/MyExperienceQ4":"@items('Apply_to_each')['MyExperienceQ4']","item/MyExperienceQ5":"@items('Apply_to_each')['MyExperienceQ5']","item/MyExperienceQ6":"@items('Apply_to_each')['MyExperienceQ6']","item/ConsiderReturning":"@items('Apply_to_each')['ConsiderReturning']","item/ConiderReturningExplanation":"@items('Apply_to_each')['ConiderReturningExplanation']","item/ConsiderReturningOther":"@items('Apply_to_each')?['ConsiderReturningOther']","item/Group_x002f_Region":"@items('Apply_to_each')['Group_x002f_Region']","item/NCR_x0020_Group":"@items('Apply_to_each')?['NCR_x0020_Group']","item/LengthAtTC":"@items('Apply_to_each')['LengthAtTC']","item/EmploymentStatusAtDeparture":"@items('Apply_to_each')['EmploymentStatusAtDeparture']","item/Occupational_x0020_Group":"@items('Apply_to_each')['Occupational_x0020_Group']","item/IsWoman":"@items('Apply_to_each')['IsWoman']","item/IsIndienous":"@items('Apply_to_each')['IsIndienous']","item/IsIndigenousFurtherDetails":"@items('Apply_to_each')?['IsIndigenousFurtherDetails']","item/IsVisibleMinority":"@items('Apply_to_each')['IsVisibleMinority']","item/IsVisibleMinorityFurtherDetails":"@items('Apply_to_each')?['IsVisibleMinorityFurtherDetails']","item/HasDisability":"@items('Apply_to_each')['HasDisability']","item/HasDisabilityFurtherDetails":"@items('Apply_to_each')?['HasDisabilityFurtherDetails']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Foreach"},"Init_JSON_Var":{"runAfter":{"Init_modifiedByGUID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"col_json","type":"string","value":"@{triggerBody()['Initializevariable_Value']}"}]}},"Init_listName":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"listName","type":"string","value":"HR%20Exit%20Survey%20Responses"}]}},"Init_createdByGUID":{"runAfter":{"Init_SpDataListName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"createdByGUID","type":"string","value":"1df5e554-ec7e-46a6-901d-d85a3881cb18"}]}},"Init_SpDataListName":{"runAfter":{"Init_listName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"spDataListName","type":"string","value":"HR_x0020_Exit_x0020_Survey_x0020_Responses"}]}},"Init_modifiedByGUID":{"runAfter":{"Init_createdByGUID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"modifiedByGUID","type":"string","value":"d31655d1-1d5b-4511-95a1-7a09e9b75bf2"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}