HRExitSurvey/Solution/Workflows/DuplicatewithoutCreatedbyModifiedby-0EA23BB8-8EDE-EB11-BACB-000D3AE85C05.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hres_sharedsharepointonline_c36fa"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"SharePointSite":{"defaultValue":"https://034gc.sharepoint.com/sites/Demo","type":"String","metadata":{"schemaName":"hres_SharePointSite"}},"CreatedByGUID":{"defaultValue":"1df5e554-ec7e-46a6-901d-d85a3881cb18","type":"String","metadata":{"schemaName":"hres_CreatedByGUID","description":"This is the GUID for the 'Created By\" field. Get this from running the info flow."}},"ModifiedByGUID":{"defaultValue":"d31655d1-1d5b-4511-95a1-7a09e9b75bf2","type":"String","metadata":{"schemaName":"hres_ModifiedByGUID","description":"This is the GUID for the 'Created By\" field. Get this from running the info flow."}},"List Name (URL)":{"defaultValue":"HR%20Exit%20Survey%20Responses","type":"String","metadata":{"schemaName":"hres_ListNameURL","description":"List Name (eg: My%20Url)"}},"List Name (FULL)":{"defaultValue":"HR_x0020_Exit_x0020_Survey_x0020_Responses","type":"String","metadata":{"schemaName":"hres_ListNameFULL","description":"Full List Name"}},"SharePointListResponses":{"defaultValue":"2ead9830-4196-4288-8b06-d64781569e9b","type":"String","metadata":{"schemaName":"hres_SharePointListResponses"}},"SharePointListResponsesFULL":{"defaultValue":"bcb64c40-15d4-4b54-a349-ea636f1a4c97","type":"String","metadata":{"schemaName":"hres_SharePointListResponsesFULL"}}},"triggers":{"When_an_item_is_created":{"recurrence":{"interval":1,"frequency":"Minute"},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetOnNewItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListResponsesFULL')"},"authentication":"@parameters('$authentication')"}}},"actions":{"Create_item":{"runAfter":{"Apply_to_each_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListResponses')"},"authentication":"@parameters('$authentication')"}},"ReLock_Created_by_Field":{"runAfter":{"Update_Created_by_Field":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","parameters/method":"PATCH","parameters/uri":"_api/web/lists/getbytitle('@{parameters('List Name (URL)')}')/fields('@{parameters('CreatedByGUID')}')\n","parameters/headers":{"content-type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-METHOD":"PATCH"},"parameters/body":"{ '__metadata': { 'type': 'SP.Field' }, 'ReadOnlyField': true }"},"authentication":"@parameters('$authentication')"}},"Unlock_Modified_by_Field":{"runAfter":{"ReLock_Created_by_Field":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","parameters/method":"PATCH","parameters/uri":"_api/web/lists/getbytitle('@{parameters('List Name (URL)')}')/fields(guid'@{parameters('ModifiedByGUID')}')\n","parameters/headers":{"content-type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-METHOD":"PATCH"},"parameters/body":"{ '__metadata': { 'type': 'SP.Field' }, 'ReadOnlyField': false }"},"authentication":"@parameters('$authentication')"}},"ReLock_Modified_by_Field":{"runAfter":{"Update_Modified_by_Field":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","parameters/method":"PATCH","parameters/uri":"_api/web/lists/getbytitle('@{parameters('List Name (URL)')}')/fields('@{parameters('ModifiedByGUID')}')\n","parameters/headers":{"content-type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-METHOD":"PATCH"},"parameters/body":"{ '__metadata': { 'type': 'SP.Field' }, 'ReadOnlyField': true }"},"authentication":"@parameters('$authentication')"}},"Update_Modified_by_Field":{"runAfter":{"Unlock_Modified_by_Field":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","parameters/method":"PATCH","parameters/uri":"_api/web/lists/getbytitle('@{parameters('List Name (URL)')}')/items('@{outputs('Create_item')?['body/ID']}')","parameters/headers":{"content-type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-METHOD":"MERGE"},"parameters/body":"{ '__metadata': { 'type': 'SP.Data.@{parameters('List Name (FULL)')}ListItem' }, 'EditorId': 0 }"},"authentication":"@parameters('$authentication')"}},"Update_Created_by_Field":{"runAfter":{"Unlock_Created_by_Field":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","parameters/method":"PATCH","parameters/uri":"_api/web/lists/getbytitle('@{parameters('List Name (URL)')}')/items('@{outputs('Create_item')?['body/ID']}')","parameters/headers":{"content-type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-METHOD":"MERGE"},"parameters/body":"{ '__metadata': { 'type': 'SP.Data.@{parameters('List Name (FULL)')}ListItem' }, 'AuthorId': 0 }"},"authentication":"@parameters('$authentication')"}},"Unlock_Created_by_Field":{"runAfter":{"Create_item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","parameters/method":"PATCH","parameters/uri":"_api/web/lists/getbytitle('@{parameters('List Name (URL)')}')/fields(guid'@{parameters('CreatedByGUID')}')\n","parameters/headers":{"content-type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-METHOD":"PATCH"},"parameters/body":"{ '__metadata': { 'type': 'SP.Field' }, 'ReadOnlyField': false }"},"authentication":"@parameters('$authentication')"}},"Initialize_departureReasons_array":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"departureReasons","type":"array"}]}},"Initialize_isVisibleMinorityFurtherDetails_array":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isVisibleMinorityFurtherDetails","type":"array"}]}},"Initialize_HasDisabilityFurtherDetails_array":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"hasDisabilityFurtherDetails","type":"array"}]}},"Apply_to_each":{"foreach":"@triggerOutputs()?['body/departureReasons']","actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"departureReasons","value":{"Value":"@{items('Apply_to_each')?['Value']}"}}}},"runAfter":{"Initialize_departureReasons_array":["Succeeded"]},"type":"Foreach"},"Apply_to_each_2":{"foreach":"@triggerOutputs()?['body/IsVisibleMinorityFurtherDetails']","actions":{"Append_to_array_variable_2":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"isVisibleMinorityFurtherDetails","value":{"Value":"@{items('Apply_to_each_2')?['Value']}"}}}},"runAfter":{"Initialize_isVisibleMinorityFurtherDetails_array":["Succeeded"]},"type":"Foreach"},"Apply_to_each_3":{"foreach":"@triggerOutputs()?['body/HasDisabilityFurtherDetails']","actions":{"Append_to_array_variable_3":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"hasDisabilityFurtherDetails","value":{"Value":"@{items('Apply_to_each_3')?['Value']}"}}}},"runAfter":{"Initialize_HasDisabilityFurtherDetails_array":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}