HRExitSurvey/Solution/Workflows/ExportSharepointItems-C8ED4032-12E3-EB11-BACB-000D3A84E292.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"hres_sharedsharepointonline_c36fa"},"api":{"name":"shared_sharepointonline"}},"shared_sharepointonline_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"hres_sharedsharepointonline_8db69"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Sharepoint Destination":{"defaultValue":"https://034gc.sharepoint.com/sites/HRExitAcceptance","type":"String","metadata":{"schemaName":"hres_SharepointDestination","description":"Address of destination sharepoint site"}},"SharePointSite":{"defaultValue":"https://034gc.sharepoint.com/sites/Demo","type":"String","metadata":{"schemaName":"hres_SharePointSite"}}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_Agreement_Levels_Items":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"493d4ce8-fbb7-4cc7-9dab-e63a1b0a1cd8"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@outputs('Get_Agreement_Levels_Items')?['body/value']","actions":{"Create_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('Sharepoint Destination')","table":"fc130cde-77b4-4f51-8f6b-e2edb83325d8","item/Title":"@items('Apply_to_each')?['Title']","item/en":"@items('Apply_to_each')?['en']","item/fr":"@items('Apply_to_each')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_Agreement_Levels_Items":["Succeeded"]},"type":"Foreach"},"Get_DisabilityDetails_Items":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"c0f84ef5-a105-491a-be06-7edec5551b1b"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_2":{"foreach":"@outputs('Get_DisabilityDetails_Items')?['body/value']","actions":{"Create_item_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('Sharepoint Destination')","table":"36e48f35-58d2-4bef-8091-043027f24b83","item/Title":"@items('Apply_to_each_2')?['Title']","item/en":"@items('Apply_to_each_2')?['en']","item/fr":"@items('Apply_to_each_2')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_DisabilityDetails_Items":["Succeeded"]},"type":"Foreach"},"Get_Employment_Items":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"afd151e0-e542-490d-9f37-7cd8084cab8f"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_3":{"foreach":"@outputs('Get_Employment_Items')?['body/value']","actions":{"Create_item_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('Sharepoint Destination')","table":"2edc8658-d81e-4a60-baff-5f89911230d8","item/Title":"@items('Apply_to_each_3')?['Title']","item/en":"@items('Apply_to_each_3')?['en']","item/fr":"@items('Apply_to_each_3')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_Employment_Items":["Succeeded"]},"type":"Foreach"},"Get_Factors_items":{"runAfter":{"Apply_to_each_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"9a69f056-5d82-429f-bb1a-fd4f055bbe2e"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_4":{"foreach":"@outputs('Get_Factors_items')?['body/value']","actions":{"Create_item_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('Sharepoint Destination')","table":"b8220d19-3dd3-42cd-8d64-cea853463eac","item/Title":"@items('Apply_to_each_4')?['Title']","item/en":"@items('Apply_to_each_4')?['en']","item/fr":"@items('Apply_to_each_4')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_Factors_items":["Succeeded"]},"type":"Foreach"},"Get_GroupRegion_items":{"runAfter":{"Apply_to_each_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"75e9c7bb-8c62-4a52-a79b-0142765d496c"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_5":{"foreach":"@outputs('Get_GroupRegion_items')?['body/value']","actions":{"Create_item_5":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('Sharepoint Destination')","table":"f5cbd930-5887-4d27-a9cf-f097e4d31d8e","item/Title":"@items('Apply_to_each_5')?['Title']","item/en":"@items('Apply_to_each_5')?['en']","item/fr":"@items('Apply_to_each_5')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_GroupRegion_items":["Succeeded"]},"type":"Foreach"},"Get_IndigenousDetails_items":{"runAfter":{"Apply_to_each_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"c7983904-6323-4b4f-aa0c-dbe3b29a6980"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_6":{"foreach":"@outputs('Get_IndigenousDetails_items')?['body/value']","actions":{"Create_item_6":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('Sharepoint Destination')","table":"252c6298-6045-4f67-a119-ccf46f7ec02b","item/Title":"@items('Apply_to_each_6')?['Title']","item/en":"@items('Apply_to_each_6')?['en']","item/fr":"@items('Apply_to_each_6')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_IndigenousDetails_items":["Succeeded"]},"type":"Foreach"},"Get_Language_items":{"runAfter":{"Apply_to_each_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"0c199590-fa6d-44ba-861a-835e1110551a"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_7":{"foreach":"@outputs('Get_Language_items')?['body/value']","actions":{"Create_item_7":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('Sharepoint Destination')","table":"b16dd37b-ae2a-4ad6-8fc3-f2b37b1e0aa7","item/Title":"@items('Apply_to_each_7')?['Title']","item/en":"@items('Apply_to_each_7')?['en']","item/fr":"@items('Apply_to_each_7')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_Language_items":["Succeeded"]},"type":"Foreach"},"Get_LengthAtTC_items":{"runAfter":{"Apply_to_each_7":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"8073ca64-721f-4e50-b7f1-f9505ecb1ae8"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_8":{"foreach":"@outputs('Get_LengthAtTC_items')?['body/value']","actions":{"Create_item_8":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('Sharepoint Destination')","table":"e4d2190c-686d-44c0-80a5-30d5d21058d0","item/Title":"@items('Apply_to_each_8')?['Title']","item/en":"@items('Apply_to_each_8')?['en']","item/fr":"@items('Apply_to_each_8')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_LengthAtTC_items":["Succeeded"]},"type":"Foreach"},"Get_Minoritydetails_items":{"runAfter":{"Apply_to_each_8":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"4d204340-9a6e-464d-b52b-0f88ded3f025"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_9":{"foreach":"@outputs('Get_Minoritydetails_items')?['body/value']","actions":{"Create_item_9":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('Sharepoint Destination')","table":"dead3519-4041-49ef-8713-f4b543626adb","item/Title":"@items('Apply_to_each_9')?['Title']","item/en":"@items('Apply_to_each_9')?['en']","item/fr":"@items('Apply_to_each_9')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_Minoritydetails_items":["Succeeded"]},"type":"Foreach"},"Get_NCRgroup_items":{"runAfter":{"Apply_to_each_9":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"a341f4a1-adbc-42d8-815b-782b6343cb7b"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_10":{"foreach":"@outputs('Get_NCRgroup_items')?['body/value']","actions":{"Create_item_10":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('Sharepoint Destination')","table":"dca651c0-0ffc-4e7b-ad4b-95d49ff4d010","item/Title":"@items('Apply_to_each_10')?['Title']","item/en":"@items('Apply_to_each_10')?['en']","item/fr":"@items('Apply_to_each_10')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_NCRgroup_items":["Succeeded"]},"type":"Foreach"},"Get_OccupationalGroup_items":{"runAfter":{"Apply_to_each_10":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"4b968c01-20c0-4472-b86f-f6421508e8b8"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_11":{"foreach":"@outputs('Get_OccupationalGroup_items')?['body/value']","actions":{"Create_item_11":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('Sharepoint Destination')","table":"e46bce69-52d1-42e6-bf9b-325fa2588047","item/Title":"@items('Apply_to_each_11')?['Title']","item/en":"@items('Apply_to_each_11')?['en']","item/fr":"@items('Apply_to_each_11')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_OccupationalGroup_items":["Succeeded"]},"type":"Foreach"},"Get_ReasonsForLeaving_items":{"runAfter":{"Apply_to_each_11":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"c1e84fe4-ecbd-4289-9f51-373b06da189d"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_12":{"foreach":"@outputs('Get_ReasonsForLeaving_items')?['body/value']","actions":{"Create_item_12":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('Sharepoint Destination')","table":"f549795e-2201-4346-9933-6ca8b4e05833","item/Title":"@items('Apply_to_each_12')?['Title']","item/en":"@items('Apply_to_each_12')?['en']","item/fr":"@items('Apply_to_each_12')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_ReasonsForLeaving_items":["Succeeded"]},"type":"Foreach"},"Get_YN_items":{"runAfter":{"Apply_to_each_12":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"c9bd7a96-f4da-49dd-a9d4-2ba1a13e2d84"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_13":{"foreach":"@outputs('Get_YN_items')?['body/value']","actions":{"Create_item_13":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('Sharepoint Destination')","table":"aa63a574-169f-4d76-9724-a2c783cca5b4","item/Title":"@items('Apply_to_each_13')?['Title']","item/en":"@items('Apply_to_each_13')?['en']","item/fr":"@items('Apply_to_each_13')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_YN_items":["Succeeded"]},"type":"Foreach"},"Get_YNOther_items":{"runAfter":{"Apply_to_each_13":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"5f5b0488-17ac-46a0-af40-efff513f4033"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_14":{"foreach":"@outputs('Get_YNOther_items')?['body/value']","actions":{"Create_item_14":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('Sharepoint Destination')","table":"d01c21cd-8bf0-4b52-b817-5e8035f1caf4","item/Title":"@items('Apply_to_each_14')?['Title']","item/en":"@items('Apply_to_each_14')?['en']","item/fr":"@items('Apply_to_each_14')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_YNOther_items":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}