HRExitSurvey/Solution/Workflows/ImportAgreementLevelsTest-F7936679-DBE4-EB11-BACB-000D3A0C72DB.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"hres_sharedsharepointonline_c36fa"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"SharePointListAgreementLevels":{"defaultValue":"493d4ce8-fbb7-4cc7-9dab-e63a1b0a1cd8","type":"String","metadata":{"schemaName":"hres_SharePointListAgreementLevels"}},"SharePointSite":{"defaultValue":"https://034gc.sharepoint.com/sites/Demo","type":"String","metadata":{"schemaName":"hres_SharePointSite"}}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_items":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"493d4ce8-fbb7-4cc7-9dab-e63a1b0a1cd8"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Try":{"actions":{"Get_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListAgreementLevels')","id":123456789},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_item":{"runAfter":{"Get_item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListAgreementLevels')","id":"@outputs('Get_item')?['body/ID']","item/Title":"@outputs('Get_item')?['body/Title']","item/en":"@outputs('Get_item')?['body/en']","item/fr":"@outputs('Get_item')?['body/fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Catch":{"actions":{"Create_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListAgreementLevels')","item/Title":"@items('Apply_to_each')?['Title']","item/en":"@items('Apply_to_each')?['en']","item/fr":"@items('Apply_to_each')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Try":["Failed","Skipped"]},"type":"Scope"}},"runAfter":{"Get_items":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}