HRExitSurvey/Solution/Workflows/ImportDataHTTPRequest-4B60E9EE-B9E5-EB11-BACB-000D3A84E292.json
{"properties":{"connectionReferences":{"shared_flowpush_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hres_sharedflowpush_8a8d4"},"api":{"name":"shared_flowpush"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"SharePointListAgreementLevels":{"defaultValue":"493d4ce8-fbb7-4cc7-9dab-e63a1b0a1cd8","type":"String","metadata":{"schemaName":"hres_SharePointListAgreementLevels"}}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"agreementLevelId":{"type":"string"}}},"method":"POST"}}},"actions":{"Condition":{"actions":{"Run_a_Child_Flow":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"c8ed4032-12e3-eb11-bacb-000d3a84e292"}}},"Send_me_an_email_notification":{"runAfter":{"Run_a_Child_Flow":["Failed","Skipped","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_flowpush","connectionName":"shared_flowpush_1","operationId":"SendEmailNotification"},"parameters":{"NotificationEmailDefinition/notificationSubject":"Import Data HTTP Request failed","NotificationEmailDefinition/notificationBody":"Import Data HTTP Request failed"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed"}}}},"expression":{"equals":["@triggerBody()?['agreementLevelId']","@parameters('SharePointListAgreementLevels')"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}