HRExitSurvey/Solution/Workflows/ImportSharepointItems-C8ED4032-12E3-EB11-BACB-000D3A84E292.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hres_sharedsharepointonline_c36fa"},"api":{"name":"shared_sharepointonline"}},"shared_sharepointonline_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hres_sharedsharepointonline_8db69"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"SharePointSite":{"defaultValue":"https://034gc.sharepoint.com/sites/Demo","type":"String","metadata":{"schemaName":"hres_SharePointSite"}},"SharePointListOccupationalGroup":{"defaultValue":"4b968c01-20c0-4472-b86f-f6421508e8b8","type":"String","metadata":{"schemaName":"hres_SharePointListOccupationalGroup"}},"SharePointListMinorityDetails":{"defaultValue":"4d204340-9a6e-464d-b52b-0f88ded3f025","type":"String","metadata":{"schemaName":"hres_SharePointListMinorityDetails"}},"SharePointListLanguages":{"defaultValue":"de29ece3-af06-44da-b76f-0413fb6c7c51","type":"String","metadata":{"schemaName":"hres_SharePointListLanguages"}},"SharePointListFactors":{"defaultValue":"9a69f056-5d82-429f-bb1a-fd4f055bbe2e","type":"String","metadata":{"schemaName":"hres_SharePointListFactors"}},"SharePointListAgreementLevels":{"defaultValue":"493d4ce8-fbb7-4cc7-9dab-e63a1b0a1cd8","type":"String","metadata":{"schemaName":"hres_SharePointListAgreementLevels"}},"SharePointListReasonForLeaving":{"defaultValue":"c1e84fe4-ecbd-4289-9f51-373b06da189d","type":"String","metadata":{"schemaName":"hres_SharePointListReasonForLeaving"}},"SharePointListNCRGroup":{"defaultValue":"a341f4a1-adbc-42d8-815b-782b6343cb7b","type":"String","metadata":{"schemaName":"hres_SharePointListNCRGroup"}},"SharePointListLengthAtTC":{"defaultValue":"8073ca64-721f-4e50-b7f1-f9505ecb1ae8","type":"String","metadata":{"schemaName":"hres_SharePointListLengthAtTC"}},"SharePointListIndigenousDetails":{"defaultValue":"c7983904-6323-4b4f-aa0c-dbe3b29a6980","type":"String","metadata":{"schemaName":"hres_SharePointListIndigenousDetails"}},"SharePointListGroupRegion":{"defaultValue":"75e9c7bb-8c62-4a52-a79b-0142765d496c","type":"String","metadata":{"schemaName":"hres_SharePointListGroupRegion"}},"SharePointListEmploymentAtDeparture":{"defaultValue":"afd151e0-e542-490d-9f37-7cd8084cab8f","type":"String","metadata":{"schemaName":"hres_SharePointListEmploymentAtDeparture"}},"SharePointListDisabilityDetails":{"defaultValue":"c0f84ef5-a105-491a-be06-7edec5551b1b","type":"String","metadata":{"schemaName":"hres_SharePointListDisabilityDetails"}},"SharePointListYesNo":{"defaultValue":"c9bd7a96-f4da-49dd-a9d4-2ba1a13e2d84","type":"String","metadata":{"schemaName":"hres_SharePointListYesNo"}},"SharePointListYesNoOthers":{"defaultValue":"5f5b0488-17ac-46a0-af40-efff513f4033","type":"String","metadata":{"schemaName":"hres_SharePointListYesNoOthers"}}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_Agreement_Levels_Items":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"493d4ce8-fbb7-4cc7-9dab-e63a1b0a1cd8"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@outputs('Get_Agreement_Levels_Items')?['body/value']","actions":{"Try":{"actions":{"Get_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListAgreementLevels')","id":"@items('Apply_to_each')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_item":{"runAfter":{"Get_item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListAgreementLevels')","id":"@outputs('Get_item')?['body/ID']","item/Title":"@outputs('Get_item')?['body/Title']","item/en":"@outputs('Get_item')?['body/en']","item/fr":"@outputs('Get_item')?['body/fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Catch":{"actions":{"Create_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListAgreementLevels')","item/Title":"@items('Apply_to_each')?['Title']","item/en":"@items('Apply_to_each')?['en']","item/fr":"@items('Apply_to_each')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Try":["Skipped","Failed"]},"type":"Scope"}},"runAfter":{"Get_Agreement_Levels_Items":["Succeeded"]},"type":"Foreach"},"Get_DisabilityDetails_Items":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"c0f84ef5-a105-491a-be06-7edec5551b1b"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_2":{"foreach":"@outputs('Get_DisabilityDetails_Items')?['body/value']","actions":{"Try_2":{"actions":{"Update_item_2":{"runAfter":{"Get_item_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListDisabilityDetails')","id":"@outputs('Get_item_2')?['body/ID']","item/Title":"@outputs('Get_item_2')?['body/Title']","item/en":"@outputs('Get_item_2')?['body/en']","item/fr":"@outputs('Get_item_2')?['body/fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_item_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListDisabilityDetails')","id":"@items('Apply_to_each_2')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Catch_2":{"actions":{"Create_item_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListDisabilityDetails')","item/Title":"@items('Apply_to_each_2')?['Title']","item/en":"@items('Apply_to_each_2')?['en']","item/fr":"@items('Apply_to_each_2')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Try_2":["Skipped","Failed"]},"type":"Scope"}},"runAfter":{"Get_DisabilityDetails_Items":["Succeeded"]},"type":"Foreach"},"Get_Employment_Items":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"afd151e0-e542-490d-9f37-7cd8084cab8f"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_3":{"foreach":"@outputs('Get_Employment_Items')?['body/value']","actions":{"Try_3":{"actions":{"Get_item_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListEmploymentAtDeparture')","id":"@items('Apply_to_each_3')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_item_3":{"runAfter":{"Get_item_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListEmploymentAtDeparture')","id":"@outputs('Get_item_3')?['body/ID']","item/Title":"@outputs('Get_item_3')?['body/Title']","item/en":"@outputs('Get_item_3')?['body/en']","item/fr":"@outputs('Get_item_3')?['body/fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Catch_3":{"actions":{"Create_item_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListEmploymentAtDeparture')","item/Title":"@items('Apply_to_each_3')?['Title']","item/en":"@items('Apply_to_each_3')?['en']","item/fr":"@items('Apply_to_each_3')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Try_3":["Failed","Skipped"]},"type":"Scope"}},"runAfter":{"Get_Employment_Items":["Succeeded"]},"type":"Foreach"},"Get_Factors_items":{"runAfter":{"Apply_to_each_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"9a69f056-5d82-429f-bb1a-fd4f055bbe2e"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_4":{"foreach":"@outputs('Get_Factors_items')?['body/value']","actions":{"Try_4":{"actions":{"Get_item_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListFactors')","id":"@items('Apply_to_each_4')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_item_4":{"runAfter":{"Get_item_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListFactors')","id":"@outputs('Get_item_4')?['body/ID']","item/Title":"@outputs('Get_item_4')?['body/Title']","item/en":"@outputs('Get_item_4')?['body/en']","item/fr":"@outputs('Get_item_4')?['body/fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Catch_4":{"actions":{"Create_item_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListFactors')","item/Title":"@items('Apply_to_each_4')?['Title']","item/en":"@items('Apply_to_each_4')?['en']","item/fr":"@items('Apply_to_each_4')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Try_4":["Failed","Skipped"]},"type":"Scope"}},"runAfter":{"Get_Factors_items":["Succeeded"]},"type":"Foreach"},"Get_GroupRegion_items":{"runAfter":{"Apply_to_each_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"75e9c7bb-8c62-4a52-a79b-0142765d496c"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_5":{"foreach":"@outputs('Get_GroupRegion_items')?['body/value']","actions":{"Try_5":{"actions":{"Get_item_5":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListGroupRegion')","id":"@items('Apply_to_each_5')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_item_5":{"runAfter":{"Get_item_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListGroupRegion')","id":"@outputs('Get_item_5')?['body/ID']","item/Title":"@outputs('Get_item_5')?['body/Title']","item/en":"@outputs('Get_item_5')?['body/en']","item/fr":"@outputs('Get_item_5')?['body/fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Catch_5":{"actions":{"Create_item_5":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListGroupRegion')","item/Title":"@items('Apply_to_each_5')?['Title']","item/en":"@items('Apply_to_each_5')?['en']","item/fr":"@items('Apply_to_each_5')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Try_5":["Failed","Skipped"]},"type":"Scope"}},"runAfter":{"Get_GroupRegion_items":["Succeeded"]},"type":"Foreach"},"Get_IndigenousDetails_items":{"runAfter":{"Apply_to_each_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"c7983904-6323-4b4f-aa0c-dbe3b29a6980"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_6":{"foreach":"@outputs('Get_IndigenousDetails_items')?['body/value']","actions":{"Try_6":{"actions":{"Get_item_6":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListIndigenousDetails')","id":"@items('Apply_to_each_6')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_item_6":{"runAfter":{"Get_item_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListIndigenousDetails')","id":"@outputs('Get_item_6')?['body/ID']","item/Title":"@outputs('Get_item_6')?['body/Title']","item/en":"@outputs('Get_item_6')?['body/en']","item/fr":"@outputs('Get_item_6')?['body/fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Catch_6":{"actions":{"Create_item_6":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListIndigenousDetails')","item/Title":"@items('Apply_to_each_6')?['Title']","item/en":"@items('Apply_to_each_6')?['en']","item/fr":"@items('Apply_to_each_6')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Try_6":["Failed","Skipped"]},"type":"Scope"}},"runAfter":{"Get_IndigenousDetails_items":["Succeeded"]},"type":"Foreach"},"Get_Language_items":{"runAfter":{"Apply_to_each_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"de29ece3-af06-44da-b76f-0413fb6c7c51"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_7":{"foreach":"@outputs('Get_Language_items')?['body/value']","actions":{"Try_7":{"actions":{"Update_item_7":{"runAfter":{"Get_item_7":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListLanguages')","id":"@outputs('Get_item_7')?['body/ID']","item/Title":"@outputs('Get_item_7')?['body/Title']","item/en":"@outputs('Get_item_7')?['body/en']","item/fr":"@outputs('Get_item_7')?['body/fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_item_7":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListLanguages')","id":"@items('Apply_to_each_7')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Catch_7":{"actions":{"Create_item_7":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListLanguages')","item/Title":"@items('Apply_to_each_7')?['Title']","item/en":"@items('Apply_to_each_7')?['en']","item/fr":"@items('Apply_to_each_7')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Try_7":["Failed","Skipped"]},"type":"Scope"}},"runAfter":{"Get_Language_items":["Succeeded"]},"type":"Foreach"},"Get_LengthAtTC_items":{"runAfter":{"Apply_to_each_7":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"8073ca64-721f-4e50-b7f1-f9505ecb1ae8"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_8":{"foreach":"@outputs('Get_LengthAtTC_items')?['body/value']","actions":{"Try_8":{"actions":{"Get_item_8":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListLengthAtTC')","id":"@items('Apply_to_each_8')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_item_8":{"runAfter":{"Get_item_8":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListLengthAtTC')","id":"@outputs('Get_item_8')?['body/ID']","item/Title":"@outputs('Get_item_8')?['body/Title']","item/en":"@outputs('Get_item_8')?['body/en']","item/fr":"@outputs('Get_item_8')?['body/fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Catch_8":{"actions":{"Create_item_8":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListLengthAtTC')","item/Title":"@items('Apply_to_each_8')?['Title']","item/en":"@items('Apply_to_each_8')?['en']","item/fr":"@items('Apply_to_each_8')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Try_8":["Failed","Skipped"]},"type":"Scope"}},"runAfter":{"Get_LengthAtTC_items":["Succeeded"]},"type":"Foreach"},"Get_Minoritydetails_items":{"runAfter":{"Apply_to_each_8":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"4d204340-9a6e-464d-b52b-0f88ded3f025"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_9":{"foreach":"@outputs('Get_Minoritydetails_items')?['body/value']","actions":{"Try_9":{"actions":{"Get_item_9":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListMinorityDetails')","id":"@items('Apply_to_each_9')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_item_9":{"runAfter":{"Get_item_9":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListMinorityDetails')","id":"@outputs('Get_item_9')?['body/ID']","item/Title":"@outputs('Get_item_9')?['body/Title']","item/en":"@outputs('Get_item_9')?['body/en']","item/fr":"@outputs('Get_item_9')?['body/fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Catch_9":{"actions":{"Create_item_9":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListMinorityDetails')","item/Title":"@items('Apply_to_each_9')?['Title']","item/en":"@items('Apply_to_each_9')?['en']","item/fr":"@items('Apply_to_each_9')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Try_9":["Failed","Skipped"]},"type":"Scope"}},"runAfter":{"Get_Minoritydetails_items":["Succeeded"]},"type":"Foreach"},"Get_NCRgroup_items":{"runAfter":{"Apply_to_each_9":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"a341f4a1-adbc-42d8-815b-782b6343cb7b"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_10":{"foreach":"@outputs('Get_NCRgroup_items')?['body/value']","actions":{"Catch_10":{"actions":{"Create_item_10":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListNCRGroup')","item/Title":"@items('Apply_to_each_10')?['Title']","item/en":"@items('Apply_to_each_10')?['en']","item/fr":"@items('Apply_to_each_10')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Try_10":["Failed","Skipped"]},"type":"Scope"},"Try_10":{"actions":{"Update_item_10":{"runAfter":{"Get_item_10":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListNCRGroup')","id":"@outputs('Get_item_10')?['body/ID']","item/Title":"@outputs('Get_item_10')?['body/Title']","item/en":"@outputs('Get_item_10')?['body/en']","item/fr":"@outputs('Get_item_10')?['body/fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_item_10":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListNCRGroup')","id":"@items('Apply_to_each_10')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"}},"runAfter":{"Get_NCRgroup_items":["Succeeded"]},"type":"Foreach"},"Get_OccupationalGroup_items":{"runAfter":{"Apply_to_each_10":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"4b968c01-20c0-4472-b86f-f6421508e8b8"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_11":{"foreach":"@outputs('Get_OccupationalGroup_items')?['body/value']","actions":{"Try_11":{"actions":{"Update_item_11":{"runAfter":{"Get_item_11":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListOccupationalGroup')","id":"@outputs('Get_item_11')?['body/ID']","item/Title":"@outputs('Get_item_11')?['body/Title']","item/en":"@outputs('Get_item_11')?['body/en']","item/fr":"@outputs('Get_item_11')?['body/fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_item_11":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListOccupationalGroup')","id":"@items('Apply_to_each_11')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Catch_11":{"actions":{"Create_item_11":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListOccupationalGroup')","item/Title":"@items('Apply_to_each_11')?['Title']","item/en":"@items('Apply_to_each_11')?['en']","item/fr":"@items('Apply_to_each_11')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Try_11":["Failed","Skipped"]},"type":"Scope"}},"runAfter":{"Get_OccupationalGroup_items":["Succeeded"]},"type":"Foreach"},"Get_ReasonsForLeaving_items":{"runAfter":{"Apply_to_each_11":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"c1e84fe4-ecbd-4289-9f51-373b06da189d"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_12":{"foreach":"@outputs('Get_ReasonsForLeaving_items')?['body/value']","actions":{"Try_12":{"actions":{"Get_item_12":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListReasonForLeaving')","id":"@items('Apply_to_each_12')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_item_12":{"runAfter":{"Get_item_12":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListReasonForLeaving')","id":"@outputs('Get_item_12')?['body/ID']","item/Title":"@outputs('Get_item_12')?['body/Title']","item/en":"@outputs('Get_item_12')?['body/en']","item/fr":"@outputs('Get_item_12')?['body/fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Catch_12":{"actions":{"Create_item_12":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListReasonForLeaving')","item/Title":"@items('Apply_to_each_12')?['Title']","item/en":"@items('Apply_to_each_12')?['en']","item/fr":"@items('Apply_to_each_12')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Try_12":["Failed","Skipped"]},"type":"Scope"}},"runAfter":{"Get_ReasonsForLeaving_items":["Succeeded"]},"type":"Foreach"},"Get_YN_items":{"runAfter":{"Apply_to_each_12":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"c9bd7a96-f4da-49dd-a9d4-2ba1a13e2d84"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_13":{"foreach":"@outputs('Get_YN_items')?['body/value']","actions":{"Try_13":{"actions":{"Update_item_13":{"runAfter":{"Get_item_13":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListYesNo')","id":"@outputs('Get_item_13')?['body/ID']","item/Title":"@outputs('Get_item_13')?['body/Title']","item/en":"@outputs('Get_item_13')?['body/en']","item/fr":"@outputs('Get_item_13')?['body/fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_item_13":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListYesNo')","id":"@items('Apply_to_each_13')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Catch_13":{"actions":{"Create_item_13":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListYesNo')","item/Title":"@items('Apply_to_each_13')?['Title']","item/en":"@items('Apply_to_each_13')?['en']","item/fr":"@items('Apply_to_each_13')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Try_13":["Failed","Skipped"]},"type":"Scope"}},"runAfter":{"Get_YN_items":["Succeeded"]},"type":"Foreach"},"Get_YNOther_items":{"runAfter":{"Apply_to_each_13":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"5f5b0488-17ac-46a0-af40-efff513f4033"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_14":{"foreach":"@outputs('Get_YNOther_items')?['body/value']","actions":{"Try_14":{"actions":{"Get_item_14":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListYesNoOthers')","id":"@items('Apply_to_each_14')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_item_14":{"runAfter":{"Get_item_14":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListYesNoOthers')","id":"@outputs('Get_item_14')?['body/ID']","item/Title":"@outputs('Get_item_14')?['body/Title']","item/en":"@outputs('Get_item_14')?['body/en']","item/fr":"@outputs('Get_item_14')?['body/fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Catch_14":{"actions":{"Create_item_14":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSite')","table":"@parameters('SharePointListYesNoOthers')","item/Title":"@items('Apply_to_each_14')?['Title']","item/en":"@items('Apply_to_each_14')?['en']","item/fr":"@items('Apply_to_each_14')?['fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Try_14":["Failed","Skipped"]},"type":"Scope"}},"runAfter":{"Get_YNOther_items":["Succeeded"]},"type":"Foreach"},"Response":{"runAfter":{"Apply_to_each_14":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}