HRExitSurvey/Solution/Workflows/Re-CreateRecordwithnewOwner-26F99BFB-A9DD-EB11-BACB-000D3AE85C05.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hres_sharedsharepointonline_c36fa"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"interval":1,"frequency":"Minute"},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetOnNewItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"2ead9830-4196-4288-8b06-d64781569e9b"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"oldID","type":"integer","value":"@triggerOutputs()?['body/ID']"}]}},"Create_item":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"2ead9830-4196-4288-8b06-d64781569e9b","item/Title":"@triggerOutputs()?['body/Title']","item/departureReasons":"@triggerOutputs()?['body/departureReasons']","item/workQ1":"@triggerOutputs()?['body/workQ1']","item/workQ2":"@triggerOutputs()?['body/workQ2']","item/wrokQ3":"@triggerOutputs()?['body/wrokQ3']","item/workQ4":"@triggerOutputs()?['body/workQ4']","item/workQ5":"@triggerOutputs()?['body/workQ5']","item/workQ6":"@triggerOutputs()?['body/workQ6']","item/workQ7":"@triggerOutputs()?['body/workQ7']","item/workQ8":"@triggerOutputs()?['body/workQ8']","item/workQ9":"@triggerOutputs()?['body/workQ9']","item/workOther":"@triggerOutputs()?['body/workOther']","item/wellBeingQ1":"@triggerOutputs()?['body/wellBeingQ1']","item/wellBeingQ2":"@triggerOutputs()?['body/wellBeingQ2']","item/wellBeingQ3":"@triggerOutputs()?['body/wellBeingQ3']","item/wellBeingQ4":"@triggerOutputs()?['body/wellBeingQ4']","item/wellBeingQ5":"@triggerOutputs()?['body/wellBeingQ5']","item/wellBeingQ6":"@triggerOutputs()?['body/wellBeingQ6']","item/wellBeingQ7":"@triggerOutputs()?['body/wellBeingQ7']","item/wellBeingQ8":"@triggerOutputs()?['body/wellBeingQ8']","item/wellBeingQ9":"@triggerOutputs()?['body/wellBeingQ9']","item/wellBeingOther":"@triggerOutputs()?['body/wellBeingOther']","item/MyExperienceQ1":"@triggerOutputs()?['body/MyExperienceQ1']","item/MyExperienceQ2":"@triggerOutputs()?['body/MyExperienceQ2']","item/MyExperienceQ3_x0020_Most_x0020_":"@triggerOutputs()?['body/MyExperienceQ3_x0020_Most_x0020_']","item/MyExperienceQ4":"@triggerOutputs()?['body/MyExperienceQ4']","item/MyExperienceQ5":"@triggerOutputs()?['body/MyExperienceQ5']","item/MyExperienceQ6":"@triggerOutputs()?['body/MyExperienceQ6']","item/ConsiderReturning":"@triggerOutputs()?['body/ConsiderReturning']","item/ConiderReturningExplanation":"@triggerOutputs()?['body/ConiderReturningExplanation']","item/ConsiderReturningOther":"@triggerOutputs()?['body/ConsiderReturningOther']","item/Group_x002f_Region":"@triggerOutputs()?['body/Group_x002f_Region']","item/NCR_x0020_Group":"@triggerOutputs()?['body/NCR_x0020_Group']","item/LengthAtTC":"@triggerOutputs()?['body/LengthAtTC']","item/EmploymentStatusAtDeparture":"@triggerOutputs()?['body/EmploymentStatusAtDeparture']","item/Occupational_x0020_Group":"@triggerOutputs()?['body/Occupational_x0020_Group']","item/IsWoman":"@triggerOutputs()?['body/IsWoman']","item/IsIndienous":"@triggerOutputs()?['body/IsIndienous']","item/IsIndigenousFurtherDetails":"@triggerOutputs()?['body/IsIndigenousFurtherDetails']","item/IsVisibleMinority":"@triggerOutputs()?['body/IsVisibleMinority']","item/IsVisibleMinorityFurtherDetails":"@triggerOutputs()?['body/IsVisibleMinorityFurtherDetails']","item/HasDisability":"@triggerOutputs()?['body/HasDisability']","item/HasDisabilityFurtherDetails":"@triggerOutputs()?['body/HasDisabilityFurtherDetails']"},"authentication":"@parameters('$authentication')"}},"Delete_item":{"runAfter":{"Create_item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"DeleteItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/Demo","table":"2ead9830-4196-4288-8b06-d64781569e9b","id":"@variables('oldID')"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}